@model IEnumerable<BoxProblem.Data.BoxInventory>

@{
    ViewData["Title"] = "Home Page";
}



    <div class="row">
        <div class="col-md-10">
            <h1 class="header">Cardboard Box Making Company</h1>
        </div>
        <div class="col-md-2">
            <img src="~/images/Open-Cardboard-Box.png" />
        </div>

    </div>

    <hr class="bottom" />
    <div class="row">


        <div class="col-md-10">
        @using (Html.BeginForm("Index", "Box", FormMethod.Get))
    {
        <b>Search</b>
        @Html.RadioButton("searchBy", "Weight", true) <text> Weight </text>

        @Html.RadioButton("searchBY", "Volume", true) <text> Volume </text>
            
        @Html.RadioButton("searchBy", "Cost", true) <text> Cost </text>
            
        @Html.RadioButton("searchBy", "Reset", true)<text>Reset</text>
        <input class="search" type="search" name="search" placeholder="Enter Value" />

        <input class="btnsearch" type="submit" />

}
            </div>
        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create", "Box", null, new { @class = "btnblue" })
        </div>

    </div>
<table class="table">
	<tr class="tr1">
		<th>
			Weight
		</th>
		<th>
			Volume
		</th>
		<th>
			Can Hold Liquid
		</th>
        <th>
            Cost
        </th>
        <th>
            Inventory Count
        </th>
		<th>
			Created At
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="tr2">
			<td>
				@Html.DisplayFor(modelItem => item.Weight)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Volume)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CanHoldLiquid)
			</td>
            <td>
                @Html.DisplayFor(modelIten => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryCount)
            </td>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedAt)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}
   


</table>
